[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "==1.1.0"
requests = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
# ruff and mypy are pinned to a minor version so that CI and a developer's
# checkout agree on the rule set (see pyproject.toml)
ruff = "~=0.16.0"
mypy = "~=2.3.0"
types-requests = "*"
types-termcolor = "*"
bandit = "*"
vulture = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest"
